@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");

h1 {
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: bolder;
}

p {
  font-family: "Poppins", Arial, sans-serif;
  font-weight: 400;
}

body {
  margin: 0;
  padding: 0;
  text-align: center;
  width: 100%;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

section {
  padding: 0 100px;
  height: 100vh;
  width: 100%;
}

* {
  outline: none;
  font-family: "Poppins";
}

:root {
  --neon-color: #0ef;
  --dark-blue-color: #176980;
  --text-color: #fff;
  --first-bg-color: #161f2b;
  --second-bg-color: #202734;
  --navbar-bg-color: #1b2430;
  --button-border-color: #333b46;
  --tabs-color: rgb(66, 82, 96);
  --black-color: rgb(43, 43, 51);
  --white-color: #fff;
  --active-tab-bg-color: #1f2c3d;
  --timeline-content-bg-color: #1f2a39;
  --bars-container-bg-color: #c2c6e2;
  --project-link-color: rgb(7, 157, 167);
  --stars-color: gold;
  --social-media-color: #323946;
  --project-desc-color: #fff;
  --lang-input-color: #323946;
}

[data-theme="dark"] {
  --neon-color: #0d9f8b;
  --dark-blue-color: rgb(24, 101, 122);
  --first-bg-color: #f8f9fa;
  --second-bg-color: #eef1f3;
  --text-color: #000;
  --navbar-bg-color: #ecf2f8;
  --timeline-content-bg-color: #c8ced6;
  --button-border-color: #b3b9bf;
  --social-media-color: #dadfed;
  --bars-container-bg-color: #878ba9;
  --project-desc-color: #fff;
  --project-link-color: #0d9f8b;
  --lang-input-color: rgb(46, 137, 165);
}
